<app-card>
    <p class="text-center">
      <img src="assets/adiq.png" width="200" alt="Adiq">
    </p>
    <br>
  </app-card>

  <div class="uk-flex-center" uk-grid>
    <div class="uk-width-3-6@m">
  
      <app-loading *ngIf="busy"></app-loading>
  
      <form [formGroup]="form" *ngIf="!busy">
        <div class="uk-card uk-card-primary uk-card-body uk-box-shadow-small">
          <h3 class="uk-card-title">Autentique-se</h3>
          <div class="uk-margin">
            <input class="uk-input uk-form-large" 
            formControlName="name" type="text" 
            placeholder="Usuário"
            [ngClass]="{'uk-form-danger': (!form.controls.name.valid && !form.controls.name.pristine) }">
          </div>
          <div class="uk-margin">
            <input class="uk-input uk-form-large" formControlName="password" type="password" placeholder="Senha">
          </div>
          <div class="uk-margin uk-text-right">
            <button class="uk-button uk-button-default" [disabled]="form.invalid" (click)="submit()">Entrar</button>
          </div>
        </div>
      </form>
    </div>
  </div>